@use '../abstracts/index' as abs;
.hours {
    @include abs.align(flex, null, center, auto, null);
    border: 1px solid #D9D9D9;
    border-radius: .4rem;
    width: 35rem;
    height: 3.2rem;
    @include abs.respond(phone) {
        width: 100%;
       
      }
    &__title {
        @include abs.align(flex, center, center, 3.2rem, null);
        border-right: 1px solid #D9D9D9;;
        width: 10rem;
        color: #4A4A4A;
        cursor: pointer;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 100%;

    }

    &__active {
        color: abs.$white;
        background: abs.$active;
    }

    :nth-last-child(1) {
        border:none;
    }
}