@use "../abstracts/index" as *;

.progress {
  height: 1rem;
  display: flex;
  max-width: 55rem;
  &__warning {
    @include shape(null, 0.8rem, $warning, 1px);
  }

  &__purple {
    @include shape(null, 0.8rem, $purple, 1px);
  }

  &__primary {
    @include shape(null, 0.8rem, #2196f3, null);
  }

  &__others {
    @include shape(null, 0.8rem, #a0b0b9, 1px);
  }
}
